# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
.vscode
hs_err_pid*
replay_pid*

# gradle
build
.gradle
backup
gradlew
gradlew.bat

# other
eclipse
run
